{% extends "base.html" %}
{% block content %}
<style type="text/css">
#thelist {
  width: 900px;
  margin: 0 auto;
  overflow: auto;
}

ul {
  list-style-type: none;
}

li a {
  float: left;
  margin: 10px;
}

a {text-decoration: none; }

</style>

<h1>Available Modules!</h1>


<div id ="thelist">
  <ul>
      {% for post in posts %}
            
          <li><a href=/hack?type=attack&module={{ post }}&package_name={{package_name}}>{{ post }}</a></li>
      {% endfor %}
  </ul>
</div>

<div id="notes" style="float:left;">
<hr>
<p>Need More modules ? : </p>
<ul>
<li>1 ) Do git pull ! </li>
<li>2 ) Port exisitng scripts to use diff-droid  , its as simple as copy and paste ! </li>
<li>3 ) Need help porting , chat @ irc on #frida! </li>
<li>4 ) Visit frida.re ! </li>
</ul>
</div>

{% endblock %}



    
